.mainHome {
  width: 100%;
  margin: 0;
  .mainHeader {
    text-align: center;
    margin: 0 !important;
    .header {
        border: 1px solid #ccc;
        cursor: pointer;
    }
  }
  .content {
      border: 1px solid #ccc;
      align-items: center;
      display: flex;
      margin: 0 !important;
      padding: 50px;
      .headerContainer {
        border: 1px solid #ccc;
        div {
          border-left: 1px solid #ccc;
          padding-top: 5px;
          padding-bottom: 5px;
          font-weight: 500;
          font-size: 18px;
        }
      }
      .dataContainer {
        border-bottom: 1px solid #ccc;
        border-right: 1px solid #ccc;
        div  {
            border-left: 1px solid #ccc;
            padding-top: 5px;
            padding-bottom: 5px;
        }
        .editIconContainer {
          cursor: pointer;
        }
      }
      .paginationContainer {
        width: 25%;
        margin: 0 auto;
        padding-top: 20px;
      }
      .addIconContainer {
        cursor: pointer;
        padding-bottom: 15px;
      }
      .notificationContainer {
        padding-left: 25px;
        color: cornflowerblue;
        font-weight: 500;
      }
  }
}
.detailsModal {
  .modalContainer {
    .editIcon {
      padding-right: 8px;
      cursor: pointer;
    }

    .editIconContainer {
      border-right:  1px solid #ccc;
    }

     div {
      padding-bottom: 4px;
    }

    .submitContainer button{
      float: right;
    }

    input {
      border: 1px solid #ccc;
    }
  }
}

.closeIcon {
  float: right;
  cursor: pointer;
}
